.Sidebar {
  width: 250px;
  margin-top: 50px;
  &__topList {
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 30px;
    }
  }
  &__middleList {
    margin-top: 30px;
    li {
      margin-bottom: 30px;
    }
  }
  &__bottomList {
    li {
      margin-bottom: 30px;
    }
  }
  &__subs {
    font-size: 18px;
    line-height: 23px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  &__setting {
    margin-top: 107px;
    margin-bottom: 20px;
  }
}

.Sidebar__Navlink {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.5;
  display: flex;
  align-items: center;
  span {
    margin-left: 15px;
  }
}

.Active {
  color: red;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.5;
}
